/* === BASE STYLES === */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  font-family: Barlow Semi Condensed, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === CUSTOM PROPERTIES === */

:root {
  /* Typography scale */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem; /* paragraph size */
  --font-lg: 1.5rem;
  --font-xl: 2rem;
  --font-2xl: 3rem;

  /* Spacing scale */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  /* Background colors */

  --grey-light: hsl(250, 3%, 97%);
  --grey-medium: hsl(250, 3%, 80%);
  --olive-green: hsl(90, 15%, 60%);
}

/* === SITE WIDE === */

main {
  max-width: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*   margin: 0 auto;
 */
}

.to-top {
  z-index: 997;
}

section {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

h1 {
  font-size: var(--font-2xl);
  margin-bottom: var(--space-md);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: var(--font-xl);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  text-transform: uppercase;
  font-weight: 300;
}

h3 {
  font-size: var(--font-lg);
  margin-bottom: var(--space-sm);
  border-bottom: 0.2rem solid var(--olive-green);
  width: fit-content;
}

p {
  font-size: var(--font-base);
  margin-bottom: var(--space-md);
  margin-top: var(--space-md);
}

img {
  display: block;
  max-inline-size: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.btn {
  background-color: var(--grey-medium);
  text-align: center;
  border-radius: 1.5rem;
  padding: var(--space-md);
}

.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.shadow {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.shadow__subtle {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* === NAV, BACK TO TOP & FOOTER === */
nav {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#top_arrow {
  height: 40px;
  width: 40px;
}

.navbar {
  background-color: var(--olive-green);
}

.nav_content {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo a {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  border-left: 1px solid black;
  padding-left: 0.5rem;
  cursor: pointer;
  margin: -0.3rem;
  margin-right: auto;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_item {
  cursor: pointer;
  padding: 0 2rem;
}

.nav_item:hover,
.logo:hover {
  color: var(--grey-light);
}

.logo:hover {
  border-left: 1px solid var(--grey-light);
}

.footer {
  background-color: var(--olive-green);
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-top: auto;
  width: 100%;
}

/* === INDEX === */

/* hero */

.hero {
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero h1 {
  text-align: center;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero__info img {
  border-radius: 50%;
  max-width: 20rem;
  max-height: 20rem;
}

.hero__info p {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

button {
  display: flex;
  margin-top: var(--space-lg);
}

/* services */

.services h2 {
  text-align: center;
}

.services__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: var(--space-md);
}

.services__links__item {
  background-color: var(--grey-medium);
  font-size: var(--font-md);
  padding: var(--space-md);
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.services__links__item img {
  width: 30px;
  height: 30px;
}

.services__links__item:hover {
  background-color: black;
  color: white;
}

.services__links__item:hover img {
  filter: invert(100%);
}

/* === GUIDES PAGE === */

.guides__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.guides__title p {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.guides__grid {
  padding: var(--space-lg);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.guides__grid__card {
  background-color: var(--grey-light);
  border-radius: 1.5rem;
  overflow: hidden;
}

.guides__grid__card__content {
  padding: var(--space-lg);
}

/* === INDIVIDUAL BREW GUIDES === */

/* title */

header {
  text-align: center;
  padding: 2rem 1rem;
}

header p {
  text-transform: uppercase;
}

/* intro */

article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  background-color: hsl(250, 3%, 97%);
  padding: 2em 4em;
  max-width: 40rem;
  border-radius: 2rem;
}

/* equipment */

.equipment h2,
.steps h2,
.takeaways h2 {
  display: flex;
  justify-content: center;
}

.equipment img {
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
}

.equipment {
  padding: 2rem 1rem;
}

.icon_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}

.icon_card {
  background-color: hsl(250, 3%, 97%);
  text-align: center;
  padding: 2em;
  border-radius: 2rem;
}

.icon_card:nth-of-type(2) img {
  transform: translateX(1.5rem);
}

/* steps & takeaways */

.steps {
  background-color: var(--olive-green);
}

.steps h3 {
  border-bottom: 0.2rem solid var(--grey-medium);
}

.steps_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid_img,
.grid_descr,
.takeaway_card,
.takeaway_descr {
  display: flex;
  justify-content: top;
  padding: 2rem 0;
  flex-direction: column;
}

.takeaways_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--grey-light);
}

.takeaway_card {
  flex-direction: column;
}

.steps img,
.takeaways img {
  border-radius: 1.5rem;
}

/* === TOOLS === */

/* coffee calculator */

.calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.calculator h2 {
  padding-top: var(--space-lg);
}

.input__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.input__grid__item {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input__grid__item select,
.input__grid__item input {
  width: 100%;
  background-color: var(--olive-green);
  border-radius: 1.5rem;
  padding: var(--space-md);
  display: flex;
  text-align: center;
}

.result {
  width: 100%;
}

.result h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brewImg {
  display: inline-flex;
  width: 5rem;
  height: 5rem;
  margin-left: var(--space-sm);
  margin-top: var(--space-lg);
}

.result p {
  border-bottom: 0.2rem solid var(--grey-medium);
  display: flex;
  justify-content: space-between;
}

/* coffee quiz */

#coffeeQuiz {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.question {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* === MEDIA QUERIES === */

/*desktop first approach (first session)*/

@media (max-width: 50rem) {
  article {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .steps_grid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .switch_step_two {
    grid-row: 4;
  }
  .switch_step_four {
    grid-row: 8;
  }
  .icon_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80vw;
    margin: 0 auto;
  }
  .takeaways_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .takeaway_card {
    align-items: center;
  }
}

@media (max-width: 40rem) {
  /* hamburger menu */

  .nav_list {
    display: none;
  }

  .logo {
    z-index: 999;
  }

  .hamburger {
    height: 30px;
    width: 30px;
    position: relative;
    display: block;
    border: none;
    background-color: var(--olive-green);
    font-size: 2rem;
    z-index: 999;
    transform: translateY(-10px);
  }

  .hamburger span {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .hamburger.open {
    background-color: var(--grey-medium);
  }

  .hamburger span:nth-child(1) {
    top: 25%;
  }

  .hamburger span:nth-child(3) {
    top: 75%;
  }

  .hamburger.open span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .nav_list.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: hsl(250, 3%, 80%);
    inset: 0;
    z-index: 998;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    gap: 3rem;
  }

  .nav_content {
    flex-wrap: wrap;
    padding: 2rem 4rem;
    align-items: center;
  }

  .nav_list {
    padding-top: 1rem;
  }

  /* equipment */

  .icon_section {
    grid-template-columns: repeat(1, 1fr);
    max-width: 70vw;
  }
  .icon_card:nth-of-type(2) img {
    transform: translateX(1rem);
  }

  .icon_card img {
    max-width: 80px;
    max-height: 80px;
  }

  .icon_card p {
    margin-bottom: 0;
  }
}

/* mobile first approach (rest of the website) */

@media (min-width: 50rem) {
  /* index */

  .hero__info {
    flex-direction: row;
    max-width: 45rem;
    gap: 4rem;
  }

  .hero__info img {
    max-width: 25rem;
    max-height: 25rem;
  }
  .hero h1 {
    margin-top: var(--space-lg);
  }
  .hero__info p {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .hero__info button {
    width: fit-content;
  }
  .services__links__item {
    max-width: 60%;
  }
  .services__links {
    margin: 0 auto;
    margin-bottom: var(--space-lg);
    max-width: 60rem;
  }

  /* guides */

  .guides__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
  }
}

@media (min-width: 72rem) {
  /* index */
  .services__links {
    max-width: 60rem;
    margin: 0 auto;
  }

  /* navbar */
  .nav_content {
    max-width: 1200px;
  }
  /* brew guides */
  .steps {
    border-radius: 1.5rem;
  }
  .takeaways_grid {
    border-radius: 1.5rem;
  }
  /* guides */

  .guides__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
  }
}
